{% section 'breadcrumb' %}
<div class="ltn__login-area pb-65">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area text-center">
          <h1 class="section-title">{{ 'customer.reset_password.title' | t }}</h1>
          <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="account-login-inner">
            {% form 'reset_customer_password',class : 'ltn__form-box contact-form-box' %}
              <input type="password" value="" name="customer[password]" id="ResetPassword" placeholder="{{ 'customer.reset_password.password' | t }}">
          	  <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
              <div class="btn-wrapper mt-0">
                <button class="theme-btn-1 btn btn-block" type="submit">{{ 'customer.reset_password.submit' | t }}</button>
              </div>
              <div class="go-to-btn mt-20">
                <a href="/account/login"><small>Back</small></a>
              </div>
          {% endform %}    
        </div>
      </div>
    </div>
  </div>
</div>
