<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '01.svg' | asset_url }}" alt=""> Wrapped in genuine top grain cowhide leather for touching surface, surrounded with synthetic leather</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '02.svg' | asset_url }}" alt=""> High-density foam bedhead, Height adjustable Bedhead</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '03.svg' | asset_url }}" alt="">Liftable side table</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '04.svg' | asset_url }}" alt="">Massage Chaise</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '05.svg' | asset_url }}" alt="">Iphone,ipad,ipod and Android player system, USB recharge and bluetooth speaker fuction</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '06.svg' | asset_url }}" alt="">Bed Frame: Bentwood frame, metal brackets</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '07.svg' | asset_url }}" alt="">Assembly: Easy assembly required</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '08.svg' | asset_url }}" alt="">Inner size : Fit for Standard American Queen or King Size Mattress</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '09.svg' | asset_url }}" alt="">24 months for skin cover and 36 months for eletronic parts</li>
<li class="wow fadeInDown" data-wow-delay=".4s"><img src="{{ '010.svg' | asset_url }}" alt="">Fully Customisable: Not the size or finish you are looking for? No need to worry, we can custom make your bed in line with your unique needs and wants.</li>
