{% include 'breadcrumb' %}
<section class="pb-11 pb-lg-15 pt-10">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-7 mx-auto">
        <div class="card border-0">
          <div class="card-body p-0">
            <h2 class="card-title fs-40 mb-2">{{ 'customer.reset_password.title' | t }}</h2>
            {% form 'reset_customer_password' %}
              <div class="form-group mb-6">
                <label for="ResetPassword" class="text-heading">{{ 'customer.reset_password.password' | t }}</label>
                <input type="password" class="form-control" value=""  name="customer[password]" placeholder="{{ 'customer.reset_password.password' | t }}" id="ResetPassword">
              </div>
              <div class="form-group mb-6">
                <label for="PasswordConfirmation" class="text-heading">{{ 'customer.reset_password.password_confirm' | t }}</label>
                <input type="password" class="form-control" value=""  name="customer[password]" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" id="PasswordConfirmation">
              </div>
              <button type="submit" class="btn btn-primary mb-6">{{ 'customer.reset_password.submit' | t }}</button>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
