{% include 'breadcrumb' %}
<section class="pb-11 pb-lg-15 pt-10">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-7 mx-auto">
        <div class="card border-0">
          <div class="card-body p-0">
            <h2 class="card-title fs-40 mb-2">{{ 'customer.recover_password.title' | t }}</h2>
            <p class="mb-6">Don’t have an account yet?
              <a href="{{ routes.account_register_url }}" class="d-inline-block fs-15 border-bottom border-2x lh-12 border-light-dark">Sign up for free</a>
            </p>
            {% form 'recover_customer_password' %}
              {% if form.posted_successfully? %}
                  <p>{{ 'customer.recover_password.success' | t }}</p>
              {% endif %}
              <div class="form-group mb-6">
                <label for="email" class="text-heading">{{ 'customer.recover_password.email' | t }}</label>
                <input class="form-control" type="email" name="email" placeholder="{{ 'customer.recover_password.email' | t }}" required>
              </div>
              <button type="submit" class="btn btn-primary mb-6">{{ 'customer.recover_password.submit' | t }}</button>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
