{% paginate collection.products by 9 %}
<!-- ==================== Start Slider ==================== -->

<header class="slider pages bg-img valign parallaxie" data-background="{{ section.settings.bg | img_url : '1920x' }}" data-overlay-dark="8" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-11">
        <div class="caption text-center bold">
          <h1>{{ page_title }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ==================== End Slider ==================== -->



<div class="main-content">


  <!-- ==================== Start main-shop ==================== -->

  <section class="main-shop section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="products-shop">
            <div class="topline">
              <div class="pagesviews valign wow fadeIn">
                <p>Showing {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }} results</p>
              </div>
              <div class="sortby wow fadeIn">
                <select name="SortBy" id="SortBy" class="wide sort-by">
                  {%- for option in collection.sort_options -%}
                  	<option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>
                  {%- endfor -%} 
                </select>
              </div>
            </div>
            <div class="row">
              {% assign all_product = collection.products | sort : 'price' %}
              {% for product in all_product %}
              	{% include 'product-card-list', product: product %}
              {% endfor %}
            </div>
            {%- if paginate.pages > 1 -%}
            	{% include 'pagination', paginate: paginate %}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ==================== End main-shop ==================== -->
</div>
{% endpaginate %}

{% schema %}
{
  "name": {
    "cs": "Stránky s kolekcemi",
    "da": "Kollektionssider",
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collections",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pl": "Strony kolekcji",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "tr": "Koleksiyon sayfaları",
    "vi": "Trang bộ sưu tập",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background"
    }
  ]
}
{% endschema %}
