 <!--Page Title-->
        <section class="page-title centred" style="background-image: url('{{ '35.jpg' | asset_url }}');">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1 class="title-fix">{{ page_title }}</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{{ routes.root_url }}">Home</a></li>
                        <li class="see">{{ page_title }}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!---Page-section -->
        <section class="account" style="background-color: #1c1c1c;">
            <div class="parallax-container js-text-parallax">
                <div class="fx-wrap fx-section-se" data-x="200">
                    <h3 class="fx-target">{{ page_title }}</h3>
                </div>
            </div>
            <div class="auto-container">
                <div class="sec-title d-flex flex-wrap wow fadeInUp animated" data-wow-duration="3s">
                    <h2>Shipping Address</h2>
                    <button class="theme-btn-two" data-toggle="modal" data-target="#modal-add">Add Address</button>
                </div>
                <div class="row">
                  {% for address in customer.addresses %}
                    	<div class="col-lg-6">
                        <div class="box-address">
                           {% if address == customer.default_address %}
                             	<h3 class="mb-10">{{ 'customer.addresses.default' | t }}</h3>
                   		  	{% else %}
                        		<h3 class="mb-10">Shipping Address {{ forloop.index }}</h3>
              		   		{% endif %}
                            <table>
                                <tbody>
                                {% for address in customer.addresses %}
                                  <tr>
                                    <td>First Name</td>
                                    <td>{{ address.first_name }}</td>
                                  </tr>
                                  <tr>
                                    <td>Last Name</td>
                                    <td>{{ address.last_name }}</td>
                                  </tr>
                                  <tr>
                                    <td>Phone Number</td>
                                    <td>{{ address.phone }}</td>
                                  </tr>
                                  <tr>
                                    <td>Company</td>
                                    <td>{{ address.company }}</td>
                                  </tr>
                                  <tr>
                                    <td>Address 1</td>
                                    <td>{{ address.address1 }}</td>
                                  </tr>
                                  <tr>
                                    <td>City</td>
                                    <td>{{ address.city }}</td>
                                  </tr>
                                  <tr>
                                    <td>Country</td>
                                    <td>{{ address.country }}</td>
                                  </tr>
                                  <tr>
                                    <td>ZIP/Postal Code</td>
                                    <td>{{ address.zip }}</td>
                                  </tr>
                                {% endfor  %}
                                </tbody>
                            </table>
                            <div class="col-12 d-flex justify-content-between">
                                <button class="theme-btn-one" data-toggle="modal" data-target="#modal-edit-{{ address.id }}">Edit</button>
                            </div>
                        </div>
                    </div>
                  {% endfor %}  
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-addTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">New Address</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                       {% form 'customer_address', customer.new_address %}
                        <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-30">
                                            <label>First Name <span>*</span></label>
                                            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-30">
                                            <label>Last Name <span>*</span></label>
                                            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-30">
                                            <label>Phone Number <span>*</span></label>
                                           <input type="text" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-30">
                                            <label>Company <span>*</span></label>
                                            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-30">
                                            <label>Address 1<span>*</span></label>
                                           <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" required>
                                        </div>
                                    </div> 
                                    <div class="col-md-4">
                                        <div class="mb-30">
                                            <label>City <span>*</span></label>
                                             <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-30">
                                            <label>Country <span>*</span></label>
                                            <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">{{ all_country_option_tags }}</select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-30">
                                            <label>ZIP/Poscal Code <span>*</span></label>
                                            <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                      <label>Set Default</label>
                                        {{ form.set_as_default_checkbox }}  
                                      </div>
                                </div>
                             
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="theme-btn-two">Add</button>
                        </div>
                      {% endform %}
                    </div>
                </div>
            </div>
 		{% for address in customer.addresses %}
            <div class="modal fade" id="modal-edit-{{ address.id }}" tabindex="{{ address.id }}" role="dialog" aria-labelledby="modal-editTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">Edit Address</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                      {% form 'customer_address', address %}
                        <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-30">
                                            <label>First Name <span>*</span></label>
                                           <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-30">
                                            <label>Last Name <span>*</span></label>
                                            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-30">
                                            <label>Phone Number <span>*</span></label>
                                             <input type="text" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-30">
                                            <label>Company <span>*</span></label>
                                            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-30">
                                            <label>Address 1<span>*</span></label>
                                            <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-30">
                                            <label>City <span>*</span></label>
                                            <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-30">
                                            <label>Country <span>*</span></label>
                                            <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">
                                              <option selected>{{ form.country }}</option> 
                                              {{ all_country_option_tags }}
                                          	</select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-30">
                                            <label>ZIP/Poscal Code <span>*</span></label>
                                             <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                      <label>Set Default</label>
                                        {{ form.set_as_default_checkbox }}  
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="theme-btn-two">Save changes</button>
                        </div>
                   	{% endform %}
                    </div>
                </div>
            </div>
      	{% endfor %}
        </section>
        <!-- End -Page-->