{% if section.settings.show_section %}
	<section class="instagram" data-section-id="{{ section.id }}">
      <div class="container">
        <div class="row mb-5">
          <h3 class="text-main position-relative" data-aos="fade-up" data-aos-duration="1000">{{ section.settings.title }} <img src="{{ 'direct-instagram.png' | asset_url }}" alt="" class="ig"></h3>
          <h2 class="title" data-aos="fade-up" data-aos-duration="1000">{{ section.settings.subtitle }}</h2>
        </div>
        <div class="row">
          {% for block in section.blocks  %}
            <div class="col-md-4 col-6 mb-3" data-aos="fade-up" data-aos-duration="1000">
              <div class="category-items-style12 item-one">
                <div class="category-item hover-effect effect-style1">
                  <div class="thumb">
                    <img src="{{ block.settings.image | img_url : 'master' }}" alt="{{ block.settings.image.alt }}">
                    <div class="effect-content"></div>
                  </div>
                  <div class="content">
                    <a class="btn-theme btn-black" href="{{ block.settings.url }}">{{ block.settings.button }}</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor  %}
        </div>
      </div>
    </section>
{% endif %}
{% schema %}
  {
    "name": "Section Instagrams",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_section",
          "label": "Show section",
          "default": true
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title",
		  "default" : "Follow us on"
		  
        },
		{
          "type": "text",
          "id": "subtitle",
          "label": "SubTitle",
		  "default" : "instagram"
		  
        }
	],
	"blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "button",
          "label": "Button",
		  "default" : "discover"
		  
        },
		{
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ]
  }
{% endschema %}