{% if section.settings.show_section %}
  <div class="firefly product-home-st bk-about-area pt--70 pb--70 pt_md--60 pt_sm--40 pb_md--80 pb_sm--80 bg_color--1 bg-svg--1"  data-section-id="{{ section.id }}">
    <div class="parallax-container js-text-parallax">
      <div class="fx-wrap" data-x="-200">
        <h3 class="fx-target">{{ section.settings.text }}</h3>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title--between wow move-up animate" style="visibility: visible; opacity: 0;">
            <div class="title">
              <h3> {{ section.settings.title_1 }}  <span class="theme-creative">{{ section.settings.title_2 }}</span></h3>
            </div>
            <div class="section-btn mt_mobile--10">
              <a class="button-text" href="{{ section.settings.url }}"><span>{{ section.settings.button }}</span><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mt--80">
          <div class="brook-element-carousel slick-arrow-center arrow-transparant wow move-up"
               data-slick-options='{
                                   "spaceBetween": 10, 
                                   "slidesToShow": 4, 
                                   "slidesToScroll": 1, 
                                   "arrows": true, 
                                   "infinite": true,
                                   "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "ion-ios-arrow-back" },
                                   "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "ion-ios-arrow-right" }
                                   }'
               data-slick-responsive='[
                                      {"breakpoint":990, "settings": {"slidesToShow": 3}},
                                      {"breakpoint":777, "settings": {"slidesToShow": 3}},
                                      {"breakpoint":577, "settings": {"slidesToShow": 2,"spaceBetween": 5}}
                                      ]'>
            {% if section.settings.display_type == 'all' %}
            {% assign product_list = collections.all.products %}
              {% for product in product_list limit : section.settings.products_count %}
                <div class="product">
                  {% include 'product-card-list', product: product %}
                </div>
              {% endfor %} 
            {% else %}
              {% for block in section.blocks %}
              {% assign product = block.settings.product %}
                <div class="product">
                  {% include 'product-card-list', product: product %}
                </div>
              {% endfor %} 
            {% endif %} 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Section Products",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_section",
          "label": "Show section",
          "default": true
        },
		{
          "type": "header",
          "content": "Content"
    	},
		{
          "type": "text",
          "id": "text",
          "label": "Text",
		  "default" : "Product"
        },
		{
          "type": "text",
          "id": "title_1",
          "label": "Title",
		  "default" : "Vega"
        },
		{
          "type": "text",
          "id": "title_2",
          "label": "Title",
		  "default" : "Products"
        },
		{
          "type": "text",
          "id": "button",
          "label": "Button",
		  "default": "View all Products"
        },
		{
          "type": "url",
          "id": "url",
          "label": "Url"
        },
		{
          "type": "text",
          "id": "products_count",
          "label": "No of products to show",
          "default": "8"
        },
		{
          "type": "header",
          "content": "Select Product"
    	},
		{
          "type": "radio",
          "id": "display_type",
          "label": "Select Show Product",
          "default": "all",
          "options": [
            {
              "value": "all",
              "label": {
                "cs": "Všechny",
                "da": "Alle",
                "de": "Alle",
                "en": "All",
                "es": "Todos",
                "fi": "Kaikki",
                "fr": "Toutes",
                "it": "Tutte",
                "ja": "すべて",
                "ko": "모두",
                "nb": "Alle",
                "nl": "Alle",
                "pl": "Wszystkie",
                "pt-BR": "Tudo",
                "pt-PT": "Tudo",
                "sv": "Alla",
                "th": "ทั้งหมด",
                "tr": "Tümü",
                "vi": "Tất cả",
                "zh-CN": "所有",
                "zh-TW": "全部"
              }
            },
            {
              "value": "selected",
              "label": {
                "cs": "Vybrané",
                "da": "Valgt",
                "de": "Ausgewählt",
                "en": "Selected",
                "es": "Seleccionadas",
                "fi": "Valittu",
                "fr": "Sélection",
                "it": "Selezionato",
                "ja": "選択済み",
                "ko": "선택됨",
                "nb": "Valgt",
                "nl": "Geselecteerd",
                "pl": "Wybrane",
                "pt-BR": "Selecionado",
                "pt-PT": "Selecionado",
                "sv": "Valt",
                "th": "เลือกแล้ว",
                "tr": "Seçildi",
                "vi": "Đã chọn",
                "zh-CN": "已选",
                "zh-TW": "已選取"
              }
            }
        ]
    	}
	],
	"blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
		{
          "type": "product",
          "id": "product",
          "label": "Product" 
        }
      ]
    }
  ]
  }
{% endschema %}
