<footer class="site-footer">
<img src="{{ 'footer-bg-icon-1.png' | asset_url }}" class="site-footer__shape-1" alt="">
<img src="{{ 'footer-bg-icon-2.png' | asset_url }}" class="site-footer__shape-2" alt="">
<div class="container">
<div class="row">
  {% for block in section.blocks  %}
  {%- case block.type -%}
  {%- when 'newsletter' -%} 
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <div class="footer-widget">
      <a href="{{ routes.root_url }}" class="footer-widget__Logo">
        <img src="{{ block.settings.logo | img_url: 'medium' }}" alt="{{ block.settings.logo.alt | default: shop.name }}" width="153">
      </a>
      {{ block.settings.text }}
     {%- assign formId = 'Newsletter' -%}
              {% form 'customer', id: formId,  class: 'mc-form' %}
       <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="text" class="form-control" id="{{ formId }}-email" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"  placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}" required>
      <button type="submit"><i class="agrikon-icon-right-arrow"></i></button>
      {% endform %}
      <div class="mc-form__response"></div>
      <div class="footer__social">
        {% if block.settings.show_social %}
        {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
        {%- for social in socials -%}
        {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
        {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
        {%- if settings[social_link] != blank -%}
        <a href="{{ settings[social_link] | escape }}">{%- include icon_link -%}</a>
        {%- endif -%}
        {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
  {%- when 'link_list' -%} 
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
    <div class="footer-widget footer-widget__links-widget">
      <ul class="list-unstyled footer-widget__links">
        {%- for link in linklists[block.settings.menu].links -%}
        	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  {%- when 'contact' -%} 
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <h3 class="footer-widget__title">{{ block.settings.title }}</h3>
    <ul class="list-unstyled footer-widget__contact">
      <li>
        <i class="agrikon-icon-telephone"></i>
        <a href="tel:{{ block.settings.phone }}">{{ block.settings.phone }}</a>
      </li>
      <li>
        <i class="agrikon-icon-email"></i>
        <a href="mailto:{{ block.settings.email }}"><span class="__cf_email__">{{ block.settings.email }}</span></a>
      </li>
      <li>
        <i class="agrikon-icon-pin"></i>
        <a href="{{ block.settings.address_link }}">{{ block.settings.address }}</a>
      </li>
    </ul>
  </div>
  {%- endcase  -%}
  {% endfor -%}
</div>
</div>
</footer>
<div class="bottom-footer">
<div class="container">
{{ section.settings.copyright }}
<div class="bottom-footer__links">
  {%- for link in linklists[section.settings.menu_bottom].links -%}
  	<a href="{{ link.url }}">{{ link.title }}</a>
  {%- endfor -%}
</div>
</div>
</div>


{% schema %}
{
  "name": {
    "cs": "Zápatí",
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pl": "Stopka",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "tr": "Altbilgi",
    "vi": "Chân trang",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 4,
  "settings": [
	{
		"type" : "richtext",
		"id" : "copyright",
		"label" : "copyright",
		"default" : "<p>© Copyright 2022 by Himalayan Hart</p>"
	},
    {
      "type": "link_list",
      "id": "menu_bottom",
      "label": {
      "cs": "Nabídka",
      "da": "Menu",
      "de": "Menü",
      "en": "Menu",
      "es": "Menú",
      "fi": "Valikko",
      "fr": "Menu",
      "it": "Menu",
      "ja": "メニュー",
      "ko": "메뉴",
      "nb": "Meny",
      "nl": "Menu",
      "pl": "Menu",
      "pt-BR": "Menu",
      "pt-PT": "Menu",
      "sv": "Meny",
      "th": "เมนู",
      "tr": "Menü",
      "vi": "Menu",
      "zh-CN": "菜单",
      "zh-TW": "選單"
    }
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "cs": "Nabídka",
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "tr": "Menü",
            "vi": "Menu",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "cs": "Přihlášení k odběru novinek",
        "da": "Tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fi": "Uutiskirjeen tilaus",
        "fr": "Inscription",
        "it": "Iscriviti alla Newsletter",
        "ja": "ニュースレターの登録",
        "ko": "뉴스레터 신청",
        "nb": "Registrering for nyhetsbrev",
        "nl": "Nieuwsbriefaanmelding",
        "pl": "Rejestracja do newslettera",
        "pt-BR": "Assinatura da newsletter",
        "pt-PT": "Registo na newsletter",
        "sv": "Nyhetsbrevsregistrering",
        "th": "การสมัครรับจดหมายข่าว",
        "tr": "Bülten aboneliği",
        "vi": "Đăng ký nhận bản tin",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      },
      "settings": [
		{
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": {
          "cs": "Obrázek loga",
          "da": "Logobillede",
          "de": "Logo-Foto",
          "en": "Logo image",
          "es": "Logo",
          "fi": "Logokuva",
          "fr": "Image du logo",
          "it": "Immagine del logo",
          "ja": "ロゴ画像",
          "ko": "로고 이미지",
          "nb": "Logobilde",
          "nl": "Afbeelding van logo",
          "pl": "Obraz logo",
          "pt-BR": "Imagem do logotipo",
          "pt-PT": "Imagem do logótipo",
          "sv": "Logobild",
          "th": "รูปภาพโลโก้",
          "tr": "Logo görseli",
          "vi": "Hình ảnh logo",
          "zh-CN": "logo 图片",
          "zh-TW": "標誌圖片"
          }
        },
       {
          "type" : "richtext",
          "id" : "text",
          "label" : "Text",
          "default" : "<p>Join our email list to get 15% off and be the first to know about new limited edition launches, offers, and lot of other fun updates.Your email</p>"
        }
        
      ]
    },
	{
      "type": "contact",
      "limit": 1,
      "name": "Contact",
      "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default" : "Contact"
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Phone",
        "default" : "666 888 0000"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email",
        "default" : "himalayanhart@tea.com"
      },
      {
        "type": "text",
        "id": "address",
        "label": "Address",
        "default" : "80 broklyn golden street line New York, USA"
      },
	  {
        "type": "url",
        "id": "address_link",
        "label": "Address Link"
      }
      ]
    }
	
  ]
}
{% endschema %}
