{% if section.settings.show_section %}
<section class="team-one" data-section-id="{{ section.id }}">
  <img src="{{ 'team-bg-1-1.png' | asset_url }}" alt="" class="team-one__bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-5">
        <div class="team-one__content">
          <div class="block-title">
            <div class="block-title__image"></div>
            <p>{{ section.settings.title }}</p>
            <h3>{{ section.settings.heading }}</h3>
          </div>
          <div class="team-one__summery">
            {{ section.settings.subtitle }}
          </div>

          <div class="team-one__nav">
            <div class="swiper-button-prev swiper-button-disabled" id="team-one__swiper-button-next" tabindex="-1" role="button" aria-label="Next slide" aria-disabled="true"><i class="agrikon-icon-left-arrow"></i>
            </div>
            <div class="swiper-button-next" id="team-one__swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"><i class="agrikon-icon-right-arrow"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-one__carousel-wrap">
    <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 0, "slidesPerView": 1, "slidesPerGroup": 1, "autoplay": { "delay": 5000 }, "navigation": {
                                                                          "nextEl": "#team-one__swiper-button-next",
                                                                          "prevEl": "#team-one__swiper-button-prev"
                                                                          },"breakpoints": {
                                                                          "0": {
                                                                          "spaceBetween": 0,
                                                                          "slidesPerView": 1,
                                                                          "slidesPerGroup": 1
                                                                          },
                                                                          "640": {
                                                                          "spaceBetween": 30,
                                                                          "slidesPerView": 2,
                                                                          "slidesPerGroup": 2
                                                                          },
                                                                          "992": {
                                                                          "spaceBetween": 30,
                                                                          "slidesPerView": 3,
                                                                          "slidesPerGroup": 3
                                                                          },
                                                                          "1200": {
                                                                          "spaceBetween": 30,
                                                                          "slidesPerView": 3,
                                                                          "slidesPerGroup": 3
                                                                          }
                                                                          }}'>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
        {% assign product = block.settings.product %}
        <div class="swiper-slide">
          {% include 'product-card-list', product: product %}

        </div>
        {% endfor %} 
      </div>
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Section Products",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_section",
          "label": "Show section",
          "default": true
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title",
		  "default" : "Our product"
        },
		{
          "type": "text",
          "id": "heading",
          "label": "Heading",
		  "default" : "Best Selling"
        },
		{
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle",
		  "default" : "<p>Black Tea. This loose leaf Indian Darjeeling tea steeps a pink, light amber color with fresh floral and apple-like flavor notes.</p>"
        }
	],
	"blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
		{
          "type": "product",
          "id": "product",
          "label": "Product" 
        }
      ]
    }
  ]
  }
{% endschema %}
