{{ content_for_index }}

<div class="floating-icon" id="service_info_item">
  <div class="floating-icon__is floating-icon-info">
    <i class="fa fa-phone"></i>
  </div>
  <div class="floating-icon__is floating-icon-message">
    <i class="fa fa-envelope"></i>
  </div>
  <div class="floating-icon__is floating-icon-location">
    <i class="fa fa-info-circle"></i>
  </div>
</div>
<!-- Slider area start -->
    {% section 'home-slider' %}
    <!-- Slider area end -->
	{% section 'best-sellers' %}
    <!-- Product item area start -->
    
    <!-- Product item area end -->

    <!-- Custom content area start -->
	{% section 'home-content' %}
    
    <!-- Custom content area end -->

    <!-- Product area start -->
    <div class="bloom-product-area margin-bottom-110 mobile-mb-40 tab-mb-60">
        <div class="container">
          	{% section 'new-arrival' %}
        </div>
    </div>
    <!-- Product area end -->

    <!-- service -->

<!--     <div class="pricing-table-area margin-bottom-70 mobile-mb-0 tab-mb-0">
        <div class="container">
            <div class="pricing-table-inner">
                <div class="row custom-gutter">
                    <div class="col-lg-12">
                        <div class="section-title-area section-title-width text-center">
                            <div class="section-title section-title-2" data-aos="fade-up" data-aos-duration="1500">
                                <div class="icon">
                                    <img src="{{ 'title.svg' | asset_url }}" alt="Bloom">
                                </div>
                                <div class="title-text">
                                    <h2 class="title">Our services</h2>
                                </div>
                            </div>
                            <p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros.</p>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="pricing-item text-center" data-aos="fade-up" data-aos-duration="1500">
                            <div class="price-item-inner">
                                <div class="pricing-title" style="background-image: url({{ '14.jpeg' | asset_url }});">
                                    <h2>Event</h2>
                                </div>
                                <div class="price-info">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                                    <ul>                                        
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                    </ul>
                                    <div class="btn-wrapper">
                                        <a class="boxed-btn btn-rounded" href="#">View more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="pricing-item text-center" data-aos="fade-up" data-aos-duration="1500">
                            <div class="price-item-inner">
                                <div class="pricing-title" style="background-image: url({{ '15.jpeg' | asset_url }});">
                                    <h2>Decors</h2>
                                </div>
                                <div class="price-info">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                                    <ul>                                        
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                    </ul>
                                    <div class="btn-wrapper">
                                        <a class="boxed-btn btn-rounded" href="#">View more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="pricing-item text-center" data-aos="fade-up" data-aos-duration="1500">
                            <div class="price-item-inner">
                                <div class="pricing-title" style="background-image: url({{ '16.jpeg' | asset_url }});">
                                    <h2>Catering</h2>
                                </div>
                                <div class="price-info">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                                    <ul>                                        
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Lorem ipsum dolor</li>
                                    </ul>
                                    <div class="btn-wrapper">
                                        <a class="boxed-btn btn-rounded" href="#">View more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Testimonial area start -->
	{% section 'home-testimonial' %}
    
    <!-- Testimonial area end -->

    <!-- Newsletter area start -->
	{% section 'home-newsletter' %}
    
    <!-- Newsletter area end -->