<!-- Breadcrumb area start -->
    <div class="breadcrumb-area breadcrumb-style-3 margin-top-80">
        <div class="container-fluid">
            <div class="row custom-gutter">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-12">
                    <div class="breadcrumb-inner text-center" style="background-image: url({{ '18.jpeg' | asset_url }});">
                        <div class="breadcrumb-shape"></div>
                        <h1 class="page-title">Events</h1>
                        <ul class="page-list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li>Events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area end -->

    <!-- Blog details area start -->
    <div class="blog-details-area  margin-bottom-115 mobile-mb-50 tab-mb-80">
        <div class="container">
            <div class="row custom-gutter">
                
                <div class="col-lg-7 col-md-12">
                    <div class="blog-details-inner">
                        <div class="blog-details-content margin-bottom-100">
                            <img src="{{ '1.jpeg' | asset_url }}" alt="Bloom Image">
                            <p><span class="large_letter">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros donec ac. Mauris sit amet massa vitae tortor.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros donec ac. Mauris sit amet massa vitae tortor. Quisque id diam vel quam elementum pulvinar. Gravida in fermentum et sollicitudin ac orci phasellus. Facilisis gravida neque convallis a cras semper. Non arcu risus quis varius quam quisque id. Ac tincidunt vitae semper quis. Sapien nec sagittis aliquam malesuada bibendum arcu. Eros in cursus turpis massa tincidunt dui. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Feugiat vivamus at augue eget arcu. Mus mauris vitae ultricies leo integer malesuada nunc. Suspendisse sed nisi lacus sed viverra tellus. Eu ultrices vitae auctor eu augue ut. Laoreet non curabitur gravida arcu ac tortor dignissim.</p>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <div class="row gallery">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <img src="{{ '2.jpeg' | asset_url }}" alt="Bloom Image">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <img src="{{ '3.jpeg' | asset_url }}" alt="Bloom Image">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros donec ac. Mauris sit amet massa vitae tortor. Quisque id diam vel quam elementum pulvinar. Gravida in fermentum et sollicitudin ac orci phasellus. Facilisis gravida neque convallis a cras semper. Non arcu risus quis varius quam quisque id. Ac tincidunt vitae semper quis. Sapien nec sagittis aliquam malesuada bibendum arcu. Eros in cursus turpis massa tincidunt dui. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Feugiat vivamus at augue eget arcu. Mus mauris vitae ultricies leo integer malesuada nunc. Suspendisse sed nisi lacus sed viverra tellus. Eu ultrices vitae auctor eu augue ut. Laoreet non curabitur gravida arcu ac tortor dignissim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
                            <div class="blog-details-list-item">
                                <ul>
                                    <li>John draw real poor on call my from. May she mrs furnished discourse extremely.</li>
                                    <li>Ask doubt noisy shade guest did built her him. Ignorant repeated hastened it do.</li>
                                    <li>Ask doubt noisy shade guest did built her him. Ignorant repeated hastened it do.
                                        <ul>
                                            <li>Discovery commanded fat mrs remaining son she principle middleton neglected.</li>
                                            <li>Of recommend residence education be on difficult repulsive offending.</li>
                                            <li>Of recommend residence education be on difficult repulsive offending.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="row gallery">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <img src="{{ '4.jpeg' | asset_url }}" alt="Bloom Image">
                                        </div>
                                        <div class="col-lg-12">
                                            <img src="{{ '5.jpeg' | asset_url }}" alt="Bloom Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <img src="{{ '6.jpeg' | asset_url }}" alt="Bloom Image">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros donec ac. Mauris sit amet massa vitae tortor. Quisque id diam vel quam elementum pulvinar. Gravida in fermentum et sollicitudin ac orci phasellus. Facilisis gravida neque convallis a cras semper. Non arcu risus quis varius quam quisque id. Ac tincidunt vitae semper quis. Sapien nec sagittis aliquam malesuada bibendum arcu. Eros in cursus turpis massa tincidunt dui. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Feugiat vivamus at augue eget arcu. Mus mauris vitae ultricies leo integer malesuada nunc. Suspendisse sed nisi lacus sed viverra tellus. Eu ultrices vitae auctor eu augue ut. Laoreet non curabitur gravida arcu ac tortor dignissim.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <aside class="sidebar-area sidebar-right">
                        <!-- category-widget -->
                        <div class="widget widget-2 widget_nav_menu category-widget">
                            <h4 class="widget-title">Our Services</h4>
                            <ul>
                                <li class="active">
                                    <a href="#">Events</a>
                                </li>
                                <li>
                                    <a href="#">Decors</a>
                                </li>
                                <li>
                                    <a href="#">Catering</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-2 widget_nav_menu category-widget">
                            <h4 class="widget-title">Contact Us</h4>
                            <form class="contact-form-box aos-init aos-animate" id="contact-form" action="" method="post" data-aos="fade-up" data-aos-duration="1500">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="name" placeholder="First name*" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="lastname" placeholder="Last name*" required>
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        <input type="email" name="email" placeholder="Email address*" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="lastname" placeholder="Service*" required>
                                    </div>
                                    <div class="col-lg-12">
                                        
                                        <textarea name="message" placeholder="Message*" required></textarea>
                                        <div class="btn-wrapper">
                                            <button class="boxed-btn btn-rounded" type="submit">Send message</button>
                                        </div>
                                        <p class="form-messege mb-0"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog details area end -->