<header class="main-header header-sticky header-sticky-smart navbar-light header " data-section-id="header">
   <div class="sticky-area-wrap" style="height: 75px;"><div class="sticky-area">
     <div class="topbar border-bottom d-none d-xl-block">
    <div class="container container-xxl">
      <div class="row">
        <div class="col-6 offset-3">
          <p class="mb-0 py-3 text-black font-weight-300 text-center">{{ section.settings.topbar }}</p>
        </div>
        <div class="col-3">
          <ul class="py-3 navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-0 navbar-right">
            {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
            {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="nav-item">
                  <a class="nav-link px-3 py-0 hover-red" href="{{ settings[social_link] | escape }}">
                    {%- include icon_link -%}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}  
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="container container-xxl">
      <div class="d-none d-xl-block">
        <nav class="navbar navbar-expand-xl px-0 py-2 py-xl-0 row no-gutters">
          <div class="col-xl-3"><a class="navbar-brand mr-0" href="{{ routes.root_url }}">
              <img src="{{ section.settings.logo | img_url : 'medium' }}" alt="{{ section.settings.logo.alt | default: shop.name }}" class="normal-logo">
              <img src="{{ section.settings.logo | img_url : 'medium' }}" alt="{{ section.settings.logo.alt | default: shop.name }}" class="sticky-logo">
            </a></div>
        </nav>
      </div>
      <div class="d-block d-xl-none">
        <nav class="navbar navbar-expand-xl px-0 py-2 py-xl-0 w-100 align-items-center">
          <a class="navbar-brand d-inline-block mx-auto" href="{{ routes.root_url }}">
            <img src="{{ section.settings.logo | img_url : 'medium' }}" alt="{{ section.settings.logo.alt | default: shop.name }}" class="normal-logo">
            <img src="{{ section.settings.logo | img_url : 'medium' }}" alt="{{ section.settings.logo.alt | default: shop.name }}" class="sticky-logo">
          </a>
        </nav>
      </div>
    </div>
  </div></div>
</header>
<section class="py-3 bg-color-3 mt-lg-5 mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb py-0">
        <li class="breadcrumb-item">Password<li class="breadcrumb-item active" aria-current="page">{{ 'general.password_page.opening_soon' | t }}</li>
      </ol>
    </nav>
  </div>
</section>

{% schema %}
{
  "name": {
    "cs": "Záhlaví",
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pl": "Nagłówek",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "tr": "Üstbilgi",
    "vi": "Đầu trang",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
	{
      "type": "text",
      "id": "topbar",
      "label": "Topbar",
      "default": "Free Express Shipping on all US order over $100"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "cs": "Obrázek loga",
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pl": "Obraz logo",
        "pt-BR": "Imagem do logotipo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "tr": "Logo görseli",
        "vi": "Hình ảnh logo",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    }
  ]
}
{% endschema %}
