<!-- footer area start -->
    <footer class="footer-area" data-section-id="{{ section.id }}">
        <div class="footer-top">
            <div class="container">
                <div class="row custom-gutter">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="footer-widget widget">
                            <div class="about_us_widget">
                                <a href="{{ routes.root_url }}" class="footer-logo"> 
                                    <img src="{{ section.settings.logo | img_url: 'medium' }}" alt="{{ section.settings.logo.alt | default: shop.name }}">
                                </a>
                                <p></p>
                                <address> 
                                    <ul>
                                        <li><a href="tel:{{ section.settings.phone }}"><i class="fa fa-phone"></i>{{ section.settings.phone }}</a></li>
                                        <li><a href="#"><i class="fa fa-map-marker"></i>{{ section.settings.address }}</a></li>
                                        <li><a href="mailto:{{ section.settings.email }}"><i class="fa fa-envelope"></i>{{ section.settings.email }}</a></li>
                                    </ul>
                                    
                                </address>
                                
                              	<!-- Shopper Approved - sections/footer -->
                              	<p>
                              		<a href="https://www.shopperapproved.com/reviews/Brassgoat.com/" class="shopperlink"><img src="https://www.shopperapproved.com/newseals/33360/white-mini-icon.gif" style="border: 0" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;" /></a><script type="text/javascript">(function() { var js = window.document.createElement("script"); js.src = "https://www.shopperapproved.com/seals/certificate.js"; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); })();</script>
                              	</p>
                                <!-- END Shopper Approved - sections/footer -->
                              
                            </div>
                        </div>
                    </div>
                  {%- for block in section.blocks -%}
                  {%- case block.type -%}
                  {%- when 'link_list' -%} 
                    <div class="col-xl-{% if forloop.index == 1%}2{% else %}3{% endif %} col-lg-3 col-md-6">
                      <div class="footer-widget widget widget_nav_menu">
                        <h4 class="widget-title">{{ block.settings.title }}</h4>
                        <ul>
                          {%- for link in linklists[block.settings.menu].links -%}
                          	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>

                  {%- when 'newsletter' -%}  
                  <div class="col-xl-3 col-lg-12 col-md-12">
                    <div class="footer-widget widget">
                      <div class="newsletter-widget">
                        <h4 class="widget-title">{{ block.settings.title }}</h4>
                        {{ block.settings.text }}
                        {%- assign formId = 'Newsletter' -%}
                        {% form 'customer', id: formId, class: 'form-input-box' %}
                          {%- if form.posted_successfully? -%}
                              <p>{{ 'contact.form.post_success' | t }}</p>
                          {%- endif -%}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                  			<input type="text"  id="{{ formId }}-email" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"  placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" required>
                            <button type="submit"><img src="{{ 'arrow-right-black.svg' | asset_url }}" alt="Arrow Icon"></button>
                        {% endform %}
                      </div>
                    </div>
                  </div>
                  {%- endcase  -%}
                  {% endfor -%}
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row custom-gutter">
                    <div class="col-lg-12">
                        <div class="copyright-area-inner">
                               {{ section.settings.copyright }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->



{% schema %}
{
  "name": {
    "cs": "Zápatí",
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pl": "Stopka",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "tr": "Altbilgi",
    "vi": "Chân trang",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 3,
  "settings": [
	{
      "type": "image_picker",
      "id": "logo",
      "label": {
        "cs": "Obrázek loga",
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pl": "Obraz logo",
        "pt-BR": "Imagem do logotipo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "tr": "Logo görseli",
        "vi": "Hình ảnh logo",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
	{
		"type" : "text",
		"id" : "phone",
		"label" : "Phone",
		"default" : "+123456789"
	},
	{
		"type" : "text",
		"id" : "address",
		"label" : "Address",
		"default" : "3, Avenue Saint Andrews, California"
	},
	{
		"type" : "text",
		"id" : "email",
		"label" : "Email",
		"default" : "admin@magwellmounts.com"
	},
	{
		"type" : "text",
		"id" : "copyright",
		"label" : "copyright"
	}
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "cs": "Rychlé odkazy",
            "da": "Genvejslinks",
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fi": "Pikalinkit",
            "fr": "Liens rapides",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "ko": "빠른 링크",
            "nb": "Hurtigkoblinger",
            "nl": "Snelle links",
            "pl": "Szybkie linki",
            "pt-BR": "Links rápidos",
            "pt-PT": "Ligações rápidas",
            "sv": "Snabblänkar",
            "th": "ลิงก์ด่วน",
            "tr": "Hızlı bağlantılar",
            "vi": "Liên kết nhanh",
            "zh-CN": "快速链接",
            "zh-TW": "快速連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "cs": "Nabídka",
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "tr": "Menü",
            "vi": "Menu",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "cs": "Přihlášení k odběru novinek",
        "da": "Tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fi": "Uutiskirjeen tilaus",
        "fr": "Inscription",
        "it": "Iscriviti alla Newsletter",
        "ja": "ニュースレターの登録",
        "ko": "뉴스레터 신청",
        "nb": "Registrering for nyhetsbrev",
        "nl": "Nieuwsbriefaanmelding",
        "pl": "Rejestracja do newslettera",
        "pt-BR": "Assinatura da newsletter",
        "pt-PT": "Registo na newsletter",
        "sv": "Nyhetsbrevsregistrering",
        "th": "การสมัครรับจดหมายข่าว",
        "tr": "Bülten aboneliği",
        "vi": "Đăng ký nhận bản tin",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "info": {
            "cs": "Odběratelé budou přidáni do vašeho [seznamu zákazníků, kteří přijímají marketing.](/admin/customers?query=&accepts_marketing=1)",
            "da": "Abonnenter bliver føjet til [kundelisten](/admin/customers?query=&accepts_marketing=1) for \"accepterer markedsføring\".",
            "de": "Abonnenten werden zu deiner Liste „akzeptiert Marketingmaterial“ hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
            "es": "Se añadirá los suscriptores a tu [lista de clientes.](/admin/customers?query=&accepts_marketing=1) \"acepta marketing\".",
            "fi": "Tilaajat lisätään \"hyväksyy markkinointi\" [-asiakasluetteloosi. ](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing ».",
            "it": "Gli iscritti verranno aggiunti al tuo [elenco clienti.](/admin/customers?query=&accepts_marketing=1) «accetta marketing»",
            "ja": "購読者は「マーケティングを受け入れる」[顧客リスト](/admin/customers?query=&accepts_marketing=1) に追加されます。",
            "ko": "가입자가 \"마케팅 수락\" [고객 목록.](/admin/customers?query=&accepts_marketing=1)에 추가됩니다.",
            "nb": "Abonnenter vil bli lagt til i «aksepterer markedsføring» [kundeliste.](/admin/customers?query=&accepts_marketing=1)",
            "nl": "Abonnees worden toegevoegd aan je \"accepteert marketing\" [klantenlijst.](/admin/customers?query=&accepts_marketing=1)",
            "pl": "Subskrybenci zostaną dodani do Twojej [listy klientów \"akceptujących marketing\".](/admin/customers?query=&accepts_marketing=1)",
            "pt-BR": "Os assinantes serão adicionados à “aceita marketing” [lista de clientes. ](/admin/customers?query=&accepts_marketing=1)",
            "pt-PT": "Os subscritores serão adicionados à sua lista de \"aceitam marketing\" [lista de clientes.](/admin/customers?query=&accepts_marketing=1)",
            "sv": "Prenumeranter läggs till i din \"accepterar marknadsföring\" [kundlista. ](/admin/customers?query=&accepts_marketing=1)",
            "th": "ระบบจะเพิ่มผู้สมัครใช้งานไปยังส่วน “ยอมรับการตลาด” ของคุณ [รายชื่อลูกค้า](/admin/customers?query=&accepts_marketing=1)",
            "tr": "Aboneler \"pazarlama kabul ediyor\" [müşteri listenize](/admin/customers?query=&accepts_marketing=1) eklenir.",
            "vi": "Người đăng ký sẽ được thêm vào [danh sách khách hàng](/admin/customers?query=&accepts_marketing=1) \"chấp nhận tiếp thị\".",
            "zh-CN": "订阅者将被添加到您的“接受营销”[客户列表](/admin/customers?query=&accepts_marketing=1)中。",
            "zh-TW": "系統會將訂閱者新增至您的「接受行銷」[客戶清單。](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "cs": "Novinky",
            "da": "Nyhedsbrev",
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fi": "Uutiskirje",
            "fr": "Newsletter",
            "it": "Newsletter",
            "ja": "ニュースレター",
            "ko": "뉴스레터",
            "nb": "Nyhetsbrev",
            "nl": "Nieuwsbrief",
            "pl": "Newsletter",
            "pt-BR": "Newsletter",
            "pt-PT": "Newsletter",
            "sv": "Nyhetsbrev",
            "th": "จดหมายข่าว",
            "tr": "Bülten",
            "vi": "Bản tin",
            "zh-CN": "新闻通讯",
            "zh-TW": "電子報"
          }
        },
        {
          "type" : "richtext",
          "id" : "text",
          "label" : "Text",
          "default" : "<p>News and updates to your inbox</p>"
        }
      ]
    }
  ]
}
{% endschema %}
