<main class="main-content">
  <!--== Start Page Title Area ==-->
  <section class="page-not-found-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto text-center">
          <div class="thumb">
            <img src="{{ '404.svg' | asset_url }}" alt="Moren-Image">
          </div>
          <div class="content">
            <h4 class="title">{{ 'general.404.title' | t }}</h4>
            <p>{{ 'general.404.subtext' | t }}</p>
            <a class="btn-theme" href="{{ routes.root_url }}"><span>{{ 'general.404.link' | t }}</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Page Title Area ==-->
</main>
