			<header class="s-header-image">
                 <div class="s-header-heading" data-effect="heading">
                     <h3 class="f-st">{{ section.settings.heading }}</h3>
                     <h2>{{ section.settings.title }}</h2>
                 </div>
                 <div class="s-header-src"></div>
                 <div class="s-header-background" data-background="#ffffff"></div>
             </header>
             <section class="s-faq">
                 <div class="s-faq-container">
                     <div class="s-faq-heading">
                         <h3 class="f-st">{{ section.settings.text }}</h3>
                     </div>
                   {% for block in section.blocks %}
                     <div class="s-faq-questions">
                         <div class="s-faq-question">
                             <h3 class="f-hs"> {{ block.settings.title }} 
                               <svg viewBox="0 0 6 10">
                                     <path d="M0,9.9C1.4,8.3,2.9,5.6,3.4,5C2.9,4.4,1.4,1.7,0,0.1L0.1,0C1.5,1.6,5.8,4.8,6,5 c-0.2,0.2-4.5,3.4-5.9,5L0,9.9z" />
                                 </svg> </h3>
                             <div class="s-faq-content">
                                {{ block.settings.content }}
                             </div>
                         </div>
                     </div>
                   {% endfor  %}
                     <div class="s-faq-background" data-background="#ffffff"></div>
                 </div>
             </section>
{% schema %}
{
  "name": "Section Customer Service",
  "class": "index-section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Customer Services"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Any questions? We are here to help"
    },
	{
      "type": "text",
      "id": "text",
      "label": "Title",
      "default": "Frequently Asked Questions"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Questions",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
    	},
		{
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    	}
      ]
    }
  ]
}
{% endschema %}