 <!-- banner-section -->
        <section class="banner-section style-one">
            <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
               {%- for block in section.blocks -%}
                  <div class="slide-item">
                      <div class="image-layer" style="background-image:url('{{ block.settings.bg | img_url : '1920x' }}')"></div>
                      <div class="large-container">
                          <div class="content-inner">
                              <div class="content-box">
                                  <h1>{{ block.settings.title }}</h1>
                                  <div class="btn-box">
                                      <a href="{{ block.settings.link }}" class="theme-btn-one">shop now</a>
                                  </div>
                              </div> 
                              <figure class="image">
                                <img src="{{ block.settings.image | img_url : '1000x' }}" alt="{{ block.settings.image.alt }}">
                            	 <img class="leaf-img" src="{{ block.settings.image_2 | img_url : '1000x' }}" >
                            </figure>
                          </div> 
                      </div>
                  </div>
               {%- endfor -%}
             
            </div>
        </section>
 <!-- banner-section end -->
{% schema %}
  {
    "name": "Section Home 1",
    "settings": [
	
		],
"blocks": [
    {
      "type": "banner",
      "name": "Banners",
      "settings": [
		{
          "type": "text",
          "id": "title",
          "label": "Title",
		  "default": "CBD Products to Fit Your Lifestyle"
    	},
        {
          "type": "image_picker",
          "id": "bg",
          "label": "Background"
        },
  		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
{
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ]
  }
{% endschema %}