<section class=" about-section-bg " style=" background: #1c1c1c;">
        <div class="parallax-container js-text-parallax">
            <div class="fx-wrap fx-section-1" data-x="-200">
                <h3 class="fx-target">{{ section.settings.heading }}</h3>
            </div>
        </div>
        <div class="auto-container">
            <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column order-1 order-lg-0">
                    <div class="image_block_1">
                        <div class="image-box wow fadeInUp">
                            <figure class="image"><img src="{{ section.settings.image | img_url : '500x' }}" alt="{{ section.settings.image.alt }}"></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column order-0 order-lg-1">
                    <div class="content_block_1">
                        <div class="content-box">
                            <div class="sec-title wow fadeInUp" data-wow-duration="3s">
                                <h2>{{ section.settings.title }}</h2>
                            </div>
                            <div class="text wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                {{ section.settings.text }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
{% schema %}
  {
    "name": "Section About 1",
    "settings": [
		{
          "type": "text",
          "id": "heading",
          "label": "Heading",
		  "default" : "About"
    	},
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title",
		  "default" : "About Us"
    	},
		{
          "type": "richtext",
          "id": "text",
          "label": "Text",
		  "default" : " <p>Honey Gold Botanicals is the fruit that bore from the long and effortful journey of health its founders chose to undertake. Matt and Chloe are a couple that hails from a small town right outside of Rochester, MN. Today, they are certified hemp processors who are selling some of the best cannabidiol or CBD products and smokeable flowers under the prestigious brand of Honey Gold Botanicals. Let’s take a journey of our own down memory lane to find out how Matt and Chloe got to this point.</p>"
    	}
		]
  }
{% endschema %}
