<section class=" about-section-bg " style=" background: #131313;">
            <div class="parallax-container js-text-parallax">
                <div class="fx-wrap fx-section-tes" data-x="-200">
                    <h3 class="fx-target">{{ section.settings.title_bg }}</h3>
                </div>
            </div>
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                  
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="sec-title wow fadeInUp" data-wow-duration="3s">
                                    <h2>{{ section.settings.title }}</h2>
                                </div>
                                <div class="text wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    {{ section.settings.text }}
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_1">
                            <div class="image-box wow fadeInUp">
                                <figure class="image"><img src="{{ section.settings.image | img_url : '500x' }}" alt="{{ section.settings.title }}"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>
{% schema %}
  {
    "name": "Section Our Mission 3",
    "settings": [
		{
          "type": "text",
          "id": "title_bg",
          "label": "Title Background",
		  "default": "FDA"
    	},
		{
          "type": "text",
          "id": "title",
          "label": "Title",
		  "default": "FDA DISCLOSURE"
    	},
 		{
            "type": "richtext",
            "id": "text",
            "label": "Text"   
        },   
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
		]
  }
{% endschema %}
