<section class=" about-section-bg " style=" background: #131313;">
  <div class="parallax-container js-text-parallax">
    <div class="fx-wrap fx-section-tes" data-x="-200">
      <h3 class="fx-target">{{ section.settings.heading }}</h3>
    </div>
  </div>
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-6 col-md-12 col-sm-12 image-column order-1 order-lg-0">
        <div class="image_block_1">
          <div class="image-box wow fadeInUp">
            <figure class="image"><img src="{{ section.settings.image | img_url : '500x' }}" alt="{{ section.settings.image.alt }}"></figure>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column order-0 order-lg-1">
        <div class="content_block_1">
          <div class="content-box">
            <div class="sec-title wow fadeInUp" data-wow-duration="3s">
              <h2>{{ section.settings.title }}</h2>
            </div>
            <div class="text wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
              {{ section.settings.text }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Section About 5",
    "settings": [
		{
          "type": "text",
          "id": "heading",
          "label": "Heading",
		  "default" : "Promise"
    	},
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title",
		  "default" : "A Promise of Consistency"
    	},
		{
          "type": "richtext",
          "id": "text",
          "label": "Text",
		  "default" : " <p>The years of hard work and research which our founders have put into Honey Gold Botanicals come with a promise of consistent quality products and service. Our team at Honey Gold Botanicals is dedicated to promoting the vast amount of health benefits that CBD presents. Not only do we understand what makes a good CBD product, but we have also done our analysis of the market to know what our customers want. All of our products are manufactured in state-of-the-art facilities with rigorous checks and balances to ensure their quality. We understand the need for our customers to be sure of the authenticity that our products offer. This is why our products are lab-tested by third parties for any contaminants, including heavy metals, E.Coli, or other impurities. All of these tests our public and our customers have access to their certificate of analysis. What truly stands out about Honey Gold Botanicals is our commitment to helping our customers every step of the way, whether it be through providing sufficient knowledge to them regarding our products or simply by offering some of the authentic CBD products in the market today.</p>"
    	}
		]
  }
{% endschema %}
